// insert main styles here
html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8911939775910365) 41%,
    rgba(0, 0, 0, 0.6138830532212884) 81%,
    rgba(0, 0, 0, 0.35057773109243695) 100%
  );
}

.font-size-small {
  font-size: small;
}

.font-size-x-small {
  font-size: x-small;
}

// positions
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

// z index
.z-index-1 {
  z-index: 1 !important;
}

.z-index-5 {
  z-index: 20 !important;
}

.z-index-10 {
  z-index: 10 !important;
}

.z-index-20 {
  z-index: 20 !important;
}

// transition classes
.default-right,
.default-left {
  background-color: #5cb4e5 !important;
  width: 50px;
  height: 50px;
  position: absolute;
}

.default-left {
  left: 0;
  bottom: 20%;
  margin-left: 50px;
  text-align: right;
}

.default-right {
  right: 0;
  top: 20%;
  margin-right: 50px;
}

.expand-enter-active,
.expand-leave-active {
  transition: all 3s ease;
}

.default {
  background-color: #5cb4e5 !important;
  width: 50px;
  height: 50px;
}

.grow {
  transition: all 3s ease;
  max-width: fit-content !important;
  width: 210px !important;
}

.growCont {
  transition: all 3s ease;
  min-width: 90% !important;
}

.shrinkCont {
  transition: all 3s ease;
  min-width: 10% !important;
}

.shrink {
  background-color: #5cb4e5 !important;
  width: 50px;
  height: 50px;
  transition: all 3s ease;
}

// text
.text-size {
  font-size: large;
}

.opacity {
  opacity: 0.4;
}

.service-section {
  cursor: pointer;
}

// input

.theme--light.v-text-field--solo.disabled-input
  > .v-input__control
  > .v-input__slot {
  background: rgba(255, 255, 255, 0.178);
}

.theme--light.v-input.disabled-input input,
.theme--light.v-input textarea {
  color: #fff;
}

.v-text-field--outlined .v-text-field__slot,
.v-text-field--single-line .v-text-field__slot {
  align-items: center;
  text-align-last: center;
  font-size: larger;
}
